*.DS_Store
._*
Useless Box/_Useless_Box/Motor_ZSB.iam
Useless Box/_Useless_Box/Motor_ZSB.iam
Useless Box/_Useless_Box/Motor_ZSB.iam
Useless Box/_Useless_Box/OldVersions/Motor_ZSB.0016.iam
Useless Box/_Useless_Box/OldVersions/Motor_ZSB.0016.iam
Useless Box/_Useless_Box/OldVersions/Motor_ZSB.0017.iam
